.main {
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  background-color: #121212; /* Dark background color */
  color: #e0e0e0; /* Light text color */
}

.hr {
  border: none;
  border-bottom: 1px solid #efefef;
  margin: 3em auto;
}
